.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.trigger{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  height: 50px;
  width: 50px;
   pointer-events: none;
}
.box1{
  background-color: #FF0001 ;
}
.box2{
  background-color: #FFC400 ;
}
.box3{
background-color: #FFFF00 ;
}
.box4{
  background-color: #8CFF00 ;
}
.box5{
  background-color: #00FF59 ;
}
.box6{
  background-color: #00FFC8 ;
}
.box7{
  background-color: #008CFF ;
}
.box8{
  background-color: #0000FF ;
}
.box9{
  background-color: #7B00FF ;
}
.box10{
  background-color: #E100FF ;
}
.box11{
  background-color: #FF00D0 ;
}
.box12{
  background-color: #FF001E ;
}
.box:nth-child(even){
  transform: translate(0px, 0px) rotate(0deg);
    transition: all 2s;
}
.box:nth-child(odd){
  transform: translate(0px, 0px) rotate(0deg);
  transition: all 1.5s;
}
.trigger:hover .box:nth-child(even){
transform: translate(400px, 0px) rotate(360deg);
  transition: all 2s;
  width: 100px;
  height: 100px;
}
.trigger:hover .box:nth-child(odd){
  transform: translate(-400px, 0px) rotate(-360deg);
  transition: all 1.5s;
  width: 25px;
  height: 25px;
}
