body{
  width: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Console", Monaco, monospace;
}
header{
  text-align: center;
  padding:20px;
  color: white;

}
h1{
  font-size: 48pt;
  text-shadow: 1px 1px 5px black;
}
.box1{
  grid-area: box1;
}
.box2{
  grid-area: box2;
}
.box3{
  grid-area: box3;
}
.box4{
  grid-area: box4;
}
.box5{
  grid-area: box5;
}
.box6{
  grid-area: box6;
}
.box7{
  grid-area: box7;
}
.box8{
  grid-area: box8;
}
.box9{
  grid-area: box9;
}
.box10{
  grid-area: box10;
}
.main-container{
  margin-bottom: 40px;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
  "box1"
  "box2"
  "box3"
  "box4"
  "box5"
  "box6"
  "box7"
  "box8"
  "box9"
  "box10"
}
@media (min-width: 500px){
  .main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-gap: 1em;
  width: 100%;
  grid-template-areas:
  "box1 box1"
  "box1 box1"
  "box2 box3"
  "box2 box3"
  "box4 box4"
  "box5 box6"
  "box7 box8"
  "box9 box10"
}
}
@media (min-width: 700px){
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-gap: 1em;
  width: 95%;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box4 box3 box3 box5"
    "box6 box6 box9 box9"
    "box7 box10 box8 box8"
}
}
.box{
  border-radius: 2px solid black;
  border-radius: 15px;
  padding: 25px;
  background-color: rgba(0, 0, 0, .3);
  color: black;
  line-height: 1.75;
  text-shadow: 1px 1px 5px orange;
  display: grid;
  grid-template-areas:
  "img"
  "game-title"
  "about"
}
img{
  width: 100%;
  height: auto;
  grid-area: img;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px yellow;
}
h2{
  font-size: 26pt;
  grid-area: game-title;
  margin-bottom: 20px;
}
.about{
  grid-area: about;
}
p{
  font-size: 14pt;
}
